# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/crash.log
terraform/crash.*.log

# Ansible
ansible/inventory.ini
ansible/inventory_generated.ini
ansible/*.retry

# Secrets / keys
*.pem
*.key

# OS/editor cruft
.DS_Store
*.swp
