# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
crash.log
crash.*.log

# Ansible
inventory.ini
inventory_generated.ini
*.retry

# Secrets / keys
*.pem
secrets.yml

# OS/editor cruft
.DS_Store
*.swp
